body {
    margin: 0;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.app-btn {
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    background: #25697b;
    border: 1px solid #25697b;
    cursor: pointer;
    text-transform: uppercase;
}

.app-btn:hover {
    background: #1f5c6d;
    border: 1px solid #1f5c6d;
}

.app-btn:active {
    background: #174f5f;
    border: 1px solid #174f5f;
}
